In [1]:
import DAO

In [2]:
import DatabaseManager

In [3]:
DB_MANAGER = DatabaseManager.DatabaseManager()

In [4]:
DAO = DAO.DAO(DB_MANAGER)

In [5]:
DAO.create_table()

Connected to Icarus.db.
Table Airports created.
Table Pilots created.
Table Flights created.
Table RouteTimes created.
Success! All tables created, committed to DB.
Connection to database Icarus.db closed.

In [6]:
DAO.drop_table()

Connected to Icarus.db.
Success! Table Airports dropped.
Success! Table Pilots dropped.
Success! Table Flights dropped.
Success! Table RouteTimes dropped.
All tables dropped, committed to DB.
Connection to database Icarus.db closed.

In [7]:
DAO.create_table()

Connected to Icarus.db.
Table Airports created.
Table Pilots created.
Table Flights created.
Table RouteTimes created.
Success! All tables created, committed to DB.
Connection to database Icarus.db closed.

In [8]:
files = ['Airports.csv', 'Pilots.csv', 'RouteTimes.csv', 'Flights.csv']
DAO.insert_legacy_data(files)

Inserting Airports...
Connected to Icarus.db.
Success! Inserted data from Airports.csv into Airports.
Connection to database Icarus.db closed.
Inserting Pilots...
Connected to Icarus.db.
Success! Inserted data from Pilots.csv into Pilots.
Connection to database Icarus.db closed.
Inserting RouteTimes...
Connected to Icarus.db.
Success! Inserted data from RouteTimes.csv into RouteTimes.
Connection to database Icarus.db closed.
Inserting Flights...
Connected to Icarus.db.
Success! Inserted data from Flights.csv into Flights.
Connection to database Icarus.db closed.

In [9]:
DAO.get_row_count("Airports")

Connected to Icarus.db.
Operation Complete.
Connection to database Icarus.db closed.

15

In [10]:
DAO.get_table_columns("Flights")

Connected to Icarus.db.
Operation Complete.
Connection to database Icarus.db closed.

['FlightID',
 'DepartureDate',
 'Origin',
 'Destination',
 'PilotID',
 'DepartureTime',
 'ArrivalTime',
 'Status']

In [11]:
DAO.add_data('Airports', ('SND', 'Test', 'Testland', 10))

Connected to Icarus.db.
Successfully inserted data into Airports.
Old table size: 15. New table size: 16.
Operation Complete.
Connection to database Icarus.db closed.

In [12]:
testcode = [('', 'Destination', '=', 1),('AND', 'Status', '=', 'Scheduled')]
DAO.select_or_delete('Flights', '*', testcode)

Connected to Icarus.db.
(1, '20/07/2025', 2, 1, 1, '10:14', '17:14', 'Scheduled')
(8, '20/07/2025', 11, 1, 8, '06:25', '10:50', 'Scheduled')
Operation Complete.
Connection to database Icarus.db closed.

In [13]:
testcode2 = [('', 'AirportCode', '=', 1)]
DAO.select_or_delete('Airports', '*', testcode2)

Connected to Icarus.db.
Operation Complete.
Connection to database Icarus.db closed.

In [14]:
DAO.select_or_delete('Flights', '*')

Connected to Icarus.db.
(1, '20/07/2025', 2, 1, 1, '10:14', '17:14', 'Scheduled')
(2, '20/07/2025', 2, 15, 2, '09:20', '10:20', 'Scheduled')
(3, '20/07/2025', 1, 6, 3, '08:00', '10:15', 'Scheduled')
(4, '20/07/2025', 1, 8, 4, '08:30', '13:30', 'Scheduled')
(5, '20/07/2025', 7, 5, 5, '09:00', '14:00', 'Scheduled')
(6, '20/07/2025', 7, 11, 6, '09:45', '13:45', 'Scheduled')
(7, '20/07/2025', 11, 9, 7, '10:00', '17:00', 'Scheduled')
(8, '20/07/2025', 11, 1, 8, '06:25', '10:50', 'Scheduled')
(9, '20/07/2025', 15, 5, 9, '07:45', '12:30', 'Scheduled')
(10, '20/07/2025', 15, 6, 10, '11:00', '18:45', 'Scheduled')
Operation Complete.
Connection to database Icarus.db closed.

In [15]:
#update flight schedule
condition = [('', 'Origin', '=', 15), ('OR', 'ORIGIN', '=', 11)]
DAO.update('Flights', "DepartureTime = '12:00', Status = 'Delayed', ArrivalTime = '20:00'", condition)

Connected to Icarus.db.
Successfully updated data from Flights with change DepartureTime = '12:00', Status = 'Delayed', ArrivalTime = '20:00'.
Operation Complete.
Connection to database Icarus.db closed.

In [16]:
#check
DAO.select_or_delete('Flights', '*')

Connected to Icarus.db.
(1, '20/07/2025', 2, 1, 1, '10:14', '17:14', 'Scheduled')
(2, '20/07/2025', 2, 15, 2, '09:20', '10:20', 'Scheduled')
(3, '20/07/2025', 1, 6, 3, '08:00', '10:15', 'Scheduled')
(4, '20/07/2025', 1, 8, 4, '08:30', '13:30', 'Scheduled')
(5, '20/07/2025', 7, 5, 5, '09:00', '14:00', 'Scheduled')
(6, '20/07/2025', 7, 11, 6, '09:45', '13:45', 'Scheduled')
(7, '20/07/2025', 11, 9, 7, '12:00', '20:00', 'Delayed')
(8, '20/07/2025', 11, 1, 8, '12:00', '20:00', 'Delayed')
(9, '20/07/2025', 15, 5, 9, '12:00', '20:00', 'Delayed')
(10, '20/07/2025', 15, 6, 10, '12:00', '20:00', 'Delayed')
Operation Complete.
Connection to database Icarus.db closed.

In [17]:
#update pilots to flight
DAO.update('Flights', 'PilotID=11', [('', 'FlightID', '=', 10)])
DAO.select_or_delete('Flights', '*')

Connected to Icarus.db.
Successfully updated data from Flights with change PilotID=11.
Operation Complete.
Connection to database Icarus.db closed.
Connected to Icarus.db.
(1, '20/07/2025', 2, 1, 1, '10:14', '17:14', 'Scheduled')
(2, '20/07/2025', 2, 15, 2, '09:20', '10:20', 'Scheduled')
(3, '20/07/2025', 1, 6, 3, '08:00', '10:15', 'Scheduled')
(4, '20/07/2025', 1, 8, 4, '08:30', '13:30', 'Scheduled')
(5, '20/07/2025', 7, 5, 5, '09:00', '14:00', 'Scheduled')
(6, '20/07/2025', 7, 11, 6, '09:45', '13:45', 'Scheduled')
(7, '20/07/2025', 11, 9, 7, '12:00', '20:00', 'Delayed')
(8, '20/07/2025', 11, 1, 8, '12:00', '20:00', 'Delayed')
(9, '20/07/2025', 15, 5, 9, '12:00', '20:00', 'Delayed')
(10, '20/07/2025', 15, 6, 11, '12:00', '20:00', 'Delayed')
Operation Complete.
Connection to database Icarus.db closed.

In [18]:
DAO.get_pilot_schedule(1)

Connected to Icarus.db.
('John Smith', 1, '20/07/2025', '17:14', 'LHR', 'Heathrow', 'JFK', 'JFK International', 'Scheduled')
Operation Complete.
Connection to database Icarus.db closed.

In [19]:
DAO.get_table_columns('Pilots')

Connected to Icarus.db.
Operation Complete.
Connection to database Icarus.db closed.

['PilotID',
 'FirstName',
 'LastName',
 'LicenseNumber',
 'LicenseCountry',
 'ExperienceYears',
 'Rank',
 'Email']

In [20]:
DAO.get_table_columns('Flights')

Connected to Icarus.db.
Operation Complete.
Connection to database Icarus.db closed.

['FlightID',
 'DepartureDate',
 'Origin',
 'Destination',
 'PilotID',
 'DepartureTime',
 'ArrivalTime',
 'Status']

In [21]:
DAO.get_number_of_flights('Destination')

Connected to Icarus.db.
('SYD', 'Sydney', 2)
('SIN', 'Changi', 2)
('JFK', 'JFK International', 2)
('DEL', 'Indira Gandhi Intl', 1)
('LAX', 'Los Angeles', 1)
('YYZ', 'Toronto Pearson', 1)
('DXB', 'Dubai Intl', 1)
Operation Complete.
Connection to database Icarus.db closed.

In [22]:
DAO.get_number_of_flights('Destination')

Connected to Icarus.db.
('SYD', 'Sydney', 2)
('SIN', 'Changi', 2)
('JFK', 'JFK International', 2)
('DEL', 'Indira Gandhi Intl', 1)
('LAX', 'Los Angeles', 1)
('YYZ', 'Toronto Pearson', 1)
('DXB', 'Dubai Intl', 1)
Operation Complete.
Connection to database Icarus.db closed.

In [23]:
DAO.get_number_of_flights('PilotID')

Connected to Icarus.db.
('Laura Adams', 'P-011', 1)
('Ethan Brown', 'P-009', 1)
('Sophie Martin', 'P-008', 1)
('Ahmed Khan', 'P-007', 1)
('David Lee', 'P-006', 1)
('Maria Silva', 'P-005', 1)
('Carlos Gonzalez', 'P-004', 1)
('Hiroshi Tanaka', 'P-003', 1)
('Alice Johnson', 'P-002', 1)
('John Smith', 'P-001', 1)
Operation Complete.
Connection to database Icarus.db closed.